<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
</head>
<body>
    <h1><%= title %></h1>
    <div><%= userInfo.userId %>님 환영합니다!</div>

    <div>아이디 : <%= userInfo.userId %></div>
    <div>비밀번호 : <%= userInfo.userPw %></div>
    <div>이메일 : <%= userInfo.email %></div>
</body>
</html>